<md-dialog aria-label="Nuevo Perfil"  ng-cloak>
    <md-toolbar ng-class="editing">
        <div class="md-toolbar-tools">
            <h1>{{title| translate}}</h1>
            <span flex></span>
            <md-button class="md-fab md-mini md-warn" ng-click="cancel()"  aria-label="cancel">
                <md-icon md-svg-icon="img/icons/ic_close_white_24px.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear ng-show="loadingBar" md-mode="indeterminate"></md-progress-linear>
    <form ng-submit="saved();" style="padding: 30px;">
        <md-content>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>{{'general.txtDescription'| translate}}</label>
                    <input ng-model="profile.txtDescription">
                </md-input-container>
            </div>
        </md-content>
        <md-button class="md-fab md-fab-bottom-right md-primary" aria-label="Save" ng-click="saved()">
            <md-icon md-svg-icon="img/icons/ic_save_white_24px.svg"></md-icon>
            <md-tooltip>
                {{'general.guardar'| translate}}
            </md-tooltip>
        </md-button>
    </form>
</md-dialog>